@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
margin: 0px;
padding: 0px;
font-family: Arial, Helvetica, sans-serif;

}

body{
    background-image: url(../imagens/jordan1high.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;

}



header{
    padding-bottom: 35px;
}

header h1 {
   
    margin: 10px 0px;
    text-align: center;
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 2.5em;
}

header div {
    margin-top: -45px;
    margin-right: 30px;
    text-align: right;
}

header > div > img {
    margin: 0px 5px;
    width: 2%;
    
}

header > div > img:hover {
    box-shadow: 0px 0px 1px white;
    transform: translate(5%, 0%);
    box-shadow: 1px 11px 19px 0px rgba(255, 255, 255, 0.466);
    transition-duration: .5s;

}

main {
    border-top: 1px white solid;
    
    /*background: url(../imagens/dunklow\ \(2\).jpg);
    */
    
}

#divDunk {
    padding: 0px 25px 0px 25px;
    height: 86vh;
    border-right:1px white solid ;
    width: 220px;
    color: white;
}

#h22{
    padding: 200px 10px ;
    display: block;
    transition: 1s;
}

#textDunk {
    padding: 150px 10px; 
    display: none;
   
    
}

#ptextDunk {
    padding: 20px;
    line-height: 150%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 255, 0.411), rgba(255, 0, 0, 0.384), rgba(255, 255, 0, 0.425));
    border-radius: 20%;
    color: rgb(20, 20, 20);
    font-weight: 700;
   

}

#divJordan1 {
    position: absolute;
    top: 14%;
    left: 20%;
    padding: 0px 25px 0px 25px;
    height: 86vh;
    border-right:1px white solid ;
    width: 220px;
    color: white;
}

#h2jordan1{
    padding: 200px 10px ;
    display: block;
    transition: 1s;
    display: block;
    
}

#textJordan1 {
    padding: 150px 10px; 
    
}

#pJordan1{
    padding: 20px;
    line-height: 150%;
    background-image: linear-gradient(to bottom, #964b009d, rgba(0, 0, 0, 0.445), rgba(255, 255, 255, 0.425));
    border-radius: 20%;
    color: rgb(20, 20, 20);
    font-weight: 700;
    color: white;
    display: none;
}

#Divvapormax{
    position: absolute;
    top: 14%;
    left: 40%;
    padding: 0px 25px 0px 25px;
    height: 86vh;
    border-right:1px white solid ;
    width: 220px;
    color: white;
}

#h2Vapormax {
    padding: 200px 10px ;
    display: block;
    transition: 1s;
    display: block;
}

iframe {
    position: absolute;
    top: 14%;
    left: 60%;
    border-radius: 20px;
    padding: 5px;
    width: 557px;
    height: 581px;
    display: none;
    
}